* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    text-align: center;
}

header {
    padding: 20px;
}

nav a {
    display: inline-block;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
    padding: 0 0 0 15px;
}

a {
    text-decoration: none;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

button {
    display: inline-block;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px; 
    outline: none;
}

.signin {
    font-weight: bold;
    border: 1px solid #4285f4;
    background: #4387fd;
    color: white;
    margin: 0 15px 0 15px;
}

.logo {
    height: 233px;
    
}
img {
    width: 272px;
    height: 92px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    line-height: 34px;
    height: 34px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #e4e4e4;

}

.search,
.lucky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    margin: 30px 4px;
    padding: 0 16px;
    height: 36px;
    
}

footer {
    padding: 15px 0;
    background-color: #F2F2F2;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    display: inline-block;
    color: #5f6368;
    padding: 0 0 0 27px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
    margin: 0 27px 0 0;
}